*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: #fff;
    position: sticky;
top: 0;
}
.list{
display: inline-block;
padding: 10px;
margin: 5px;
}
.main_Section{
 margin-top: 24px;

 
}
.box1{
    background-color: rgb(119, 81, 119);
    color: black;
}
body{
    height: 3444px;
    border:2px solid red;
    border-radius: 2px ;
}
